.img-slider {
  width: 16px;
  height: 16px;
  background-color: $colorRadioGrey;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 15px;

  &:last-of-type {
    margin-right: 0;
  }

  @include e(checkmark) {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $colorBlack;
    opacity: 0;
    display: inline-block;
    transition: opacity 0.5s ease;
  }

  & > input {
    display: none;

    &:checked + .img-slider__checkmark {
      opacity: 1;
    }
  }
}
